/* ============================================= */
/*              About Grid Styling               */
/* ============================================= */


#about .aboutWrapper{
  display: grid;
  height: 100vh;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 500px;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 15px;
  h1{
    margin: 0;
  }
  grid-template-areas: 
    "aboutHead"
    "about"
    "aboutMain"
    "aboutFooter";
}

#about {
  header{
    grid-area: aboutHead;
    background-color: $tealBlue;
  }

  .aboutNavWrapper {
    grid-area: about;
    li {
      a{
        display: block;
      }
      list-style: none;
      display: inline-block;
    }
  }

  main{
    grid-area: aboutMain;
    background-color: white;
  }
  footer{
    grid-area: aboutFooter;
    background-color: $dGrey;
  }
} 


.proImg {
  margin: 0;
  width: 100%;
}

.proImg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
