/* ============================================= */
/*              About Grid Styling               */
/* ============================================= */


#about .aboutWrapper{
  display: grid;
  height: 100vh;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 350px;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 15px;
  grid-template-areas: 
    "aboutHead"
    "aboutMain"
    "aboutFooter";
}

#about {
  header{
    grid-area: aboutHead;
    background-color: $tealBlue;
    display: flex;
  }
  
  
  main{
    grid-area: aboutMain;
    background-color: white;
  }
  footer{
    grid-area: aboutFooter;
    background-color: $dGrey;
  }
  li{
    list-style: none;
    margin-right: 15px;
  }

  a{
    display: inline-block;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

  }

}

.aboutNavWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.proImg {
  margin: 0;
  width: 50%;
}

.proImg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  // width: auto;
}