/* ============================================= */
/*              Home Grid Styling               */
/* ============================================= */



.projectCard {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 200px minmax(150px, 1fr) 100px;
  grid-auto-rows: minmax(150px, auto);
  grid-template-areas: 
    "pHead"
    "pMain"
    "foot";

}

.projectHead{
  grid-area: pHead;
  background-color: #4d5057;
}

.projectMain {
  grid-area: pMain;
  background-color: #4d5057;
}

.projectWrap{
  display: grid;
  row-gap: 10px;
  @include mq(768px){
    column-gap: 10px;
  }
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}


footer{
  grid-area: foot;
}
