/* ============================================= */
/*              Variables                        */
/* ============================================= */


/* ========= */
/*  Colors   */
/* ========= */

$dGrey: #4D5057;
$richBlack: #07393C;
$tealBlue: #40798C;
$magnolia: #F7F1FB;
$smBlack: #0B0500;