/* ============================================= */
/*              Contact  Styles                  */
/* ============================================= */


#contact{
  background-color: slategrey;
  ul{
    list-style-type: none;
    li{
      display: inline-block;
      a{
        display: block;
      }
    }
  }


}