/* ============================================= */
/*              Contact  Styles                  */
/* ============================================= */


#contact{

  .error{
    border: solid .5px orangered;
    box-shadow: inset 0 0 10px  red;
  }
  form{
    width: 80%;
    margin: 0 auto;
    input,
    textarea {
      display: block;
      margin-bottom: 25px;
      width: 100%;
      border-radius: 5px;
    }
    .gotcha{
      display: none;
    }
    .submit{
      width: 30%;
      border-radius: 10px;
    }
    input{
      height: 40px;
    }
  }
  svg path {
    fill: #07393C;
  }
  .contactWrap{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  header{
    width: 100%;
    background-image: url("../img/leaf.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    @include mq(1400px){
      height: 450px;
    }
    nav{
      margin-left: 40px;
      padding-top: 25px;
    }
  }
  background-color: slategrey;
  ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    li{
      display: inline-block;
      margin: 5px;
      a{
        display: block;
      }
    }
  }


}