/* ============================================= */
/*              Main  Styles                     */
/* ============================================= */


.titleCard {
  background: url("../img/ocean-clouds.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menuOverlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: darkslategrey;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 2s all ease-in-out;
}

.hidden {
  display: none;
}


.menuOverlayAnimation {
  animation: slideUp .8s ease-in forwards;
}

.menuOverlay li {
  transform: translateX(110%);
  margin-bottom: 15px;
  list-style: none;
  font-size: 1.2rem;
  @include mq(768px){
    font-size: 2rem;
    margin-bottom:30px;
  }
  transition: 2s;
  visibility: hidden;

}

.menuOverlay li a{
  color: inherit;
  text-decoration: none;
}

.menuOverlay li:hover{
  font-size: 3rem;
  text-shadow: 2px 2px lightpink;
}

.liAnimation {
  animation: moverOver 1s .8s ease-in forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(90%);
    background-color: $magnolia;
  }
  100%{
    background-color: dGrey;
    transform: translateY(0%);
  }
}

@keyframes moverOver{
  0%{
    transform: translateX(110%);
    color: rgb(255, 255, 255);
    visibility: visible;
  }
  100%{
    transform: translateX(0%);
    color: rgb(175, 175, 255);
    visibility: visible;
  }
}

.titleText {
  background-color: rgba(228, 230, 229, .5);
  width: 73%;
  border-radius: 5px;
  text-align: center;
  @include mq(568px){
    width: 80%;
    max-width: 900px;
  }
  h1 span {
    display: block;
    @include mq(568px){
      display: inline-block;
    }
  }
}

  .menuIcon{
    position: absolute;
    top: 25px;
    right: 30px;
    .menuButton {
      cursor: pointer;
      transition: all .5s ease-in-out;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid white;
      @include mq(768px){
        width: 50px;
        height: 50px;
        border: 3px solid white;
      }
    }
  }    
      
  .menuBurg{
    width: 12px;
    height: 1px;
    @include mq(768px){
      width: 25px;
      height: 3px;
    }
    background: white;
    transition: all .5s ease-in-out;
    &::before, 
    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 1px;
      @include mq(768px){
        width: 25px;
        height: 3px;
      }
      background: white;
      transition: all .5s ease-in-out;
    }
    &::before{
      transform: translateY(-5px);
      @include mq(768px){
        transform: translateY(-10px);
      }
    }
    &::after{
      transform: translateY(5px);
      @include mq(768px){
        transform: translateY(10px);
      }
    }
  }      


  // Animation sequence /////////
  .menuButton.open .menuBurg {
    transform: translateX(-15px);
    background: transparent;
    @include mq(768px){
      transform: translateX(-30px);
    }
  }
  
  .menuButton.open .menuBurg::before{
    transform: rotate(45deg) translate(10.5px, -10.5px);
    @include mq(768px){
      transform: rotate(45deg) translate(21px, -21px);
    }
  }
  .menuButton.open .menuBurg::after{
    transform: rotate(-45deg) translate(10.5px, 10.5px);
    @include mq(768px){
      transform: rotate(-45deg) translate(21px, 21px);
    }
  }

  // Animation sequence Complete //////

  