/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  box-sizing: border-box;
  font-family: $roboto;
}

svg {
  width: 25px;
  display: inline-block;
  path{
    fill: white;
  }
}